#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: rgb(249, 211, 217);
}

h1 {
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    text-align: center;
}

#subtitulo {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    color: rgb(0, 0, 0);
}

.container {
    border: 2px solid rgb(242, 235, 236);
    overflow: auto;
    background-color: rgb(242, 235, 236);
    border-radius: 5px;
    max-width: 1200px;
    display: block;
    margin: auto;

}

.container img {
    float: left;
    max-width: 400px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}



#titulotexto {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

p {
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
    text-align: justify;
    text-indent: 30px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

blockquote {
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    align-self: flex-end;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-right: auto;
    padding-bottom: 16px;
    padding-left: 30px;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

a {
    color: rgb(39, 109, 238);
    text-decoration: none;
}

a:hover {
    color: darkblue;
    text-decoration: underline;
}